@mixin styleCreator($name, $colorFirst, $colorSecond, $backgroundColorFirst) {
  .app.#{$name} {
    .favorite-button {
      &.active {
        background: $colorFirst !important;
      }
    }

    .ant-table-column-sorter-up.active,
    .ant-table-column-sorter-down.active {
      color: $colorFirst;
    }

    .title-ratingprogressiongraphs {
      display: flex;
      justify-content: space-between;

      .ant-select-arrow {
        color: $colorFirst;
      }
      .ant-select-selector {
        border: 0 !important;
        outline: none !important;
        box-shadow: inset 0px 0px 2px #f8ccaf !important;

        &:hover,
        &:focus {
          box-shadow: inset 0px 0px 2px #f8ccaf;
        }
      }
    }

    .loader {
      @keyframes spin-#{$name} {
        0% {
          box-shadow: 0 0 60px $colorFirst, inset 0 0 0px $colorFirst;
          transform: rotate(-180deg);
        }
        50% {
          box-shadow: 0 0 0px $colorFirst, inset 0 0 20px $colorFirst;
          transform: rotate(180deg);
        }
        100% {
          box-shadow: 0 0 60px $colorFirst, inset 0 0 0px $colorFirst;
          transform: rotate(540deg);
        }
      }

      &:after {
        animation: spin-#{$name} 2s ease-in-out infinite;
        border: 2px solid $colorFirst;
      }
    }

    .distributionpage .apexcharts-bar-area {
      fill: $colorFirst;
    }
    .distributionpage .apexcharts-tooltip-marker {
      background-color: $colorFirst !important;
    }
    .roadmap {
      .ant-steps-item-finish
        .ant-steps-item-icon
        > .ant-steps-icon
        .ant-steps-icon-dot,
      .ant-steps-item-finish
        > .ant-steps-item-container
        > .ant-steps-item-tail::after,
      .ant-steps-item-process
        .ant-steps-item-icon
        > .ant-steps-icon
        .ant-steps-icon-dot {
        background: $colorFirst;
      }

      .ant-steps-item-finish
        > .ant-steps-item-container
        > .ant-steps-item-content
        > .ant-steps-item-title,
      .ant-steps-item-process
        > .ant-steps-item-container
        > .ant-steps-item-content
        > .ant-steps-item-title {
        color: $colorFirst;
      }

      .ant-steps-item-wait
        > .ant-steps-item-container
        > .ant-steps-item-content
        > .ant-steps-item-title {
        color: $colorSecond;
      }
      .ant-steps-item-wait
        > .ant-steps-item-container
        > .ant-steps-item-content
        > .ant-steps-item-description {
        color: $colorSecond;
      }
    }

    .title-a {
      &.border {
        border-bottom: 1px $colorFirst solid;
      }
    }

    .nightbot {
      .ant-select-selector {
        border: 1px $colorFirst solid;
        box-shadow: inset 3px 3px 20px #00000059, 1px 1px 0px 0px $colorFirst;
      }

      .ant-select-arrow {
        color: $colorFirst;
      }

      .ant-checkbox {
        &-inner {
          border-color: $colorFirst;
          &::after {
            border-color: $colorFirst;
          }
        }
      }
    }

    .playerpage {
      &-buttons {
        button {
          &:hover,
          &.ant-btn-loading,
          &.active {
            box-shadow: inset 0px 0px 2px $colorFirst;
          }
        }
      }

      .third-row {
        &__left {
          &__title {
            border-bottom: 1px $colorFirst solid;
          }
        }
        &__right {
          &__title {
            border-bottom: 1px $colorFirst solid;
          }
        }
      }
      .first-row {
        &__left {
          &___platformicon {
            background: $colorFirst;
          }
          &___profile {
            &___reward {
              .ant-progress-steps {
                .ant-progress-steps-outer {
                  .ant-progress-steps-item {
                    &-active {
                      opacity: 1;
                      box-shadow: 0px 0px 3px $colorFirst;
                      background: $colorFirst;
                    }
                  }
                }
              }
            }
          }
        }
        &__right {
          > div {
            i {
              color: $colorFirst;
            }
          }
        }
      }
      .second-row {
        &__block {
          box-shadow: inset 2px 2px 20px #00000059, 3px 3px 0px 0px $colorFirst;
        }
      }
    }

    .historycheck {
      &_block {
        &:hover {
          box-shadow: inset 5px 5px 40px #00000057, 0px 2px 0px 0px $colorFirst;
        }
      }
    }

    .chooser {
      .enter-search {
        svg {
          color: $colorFirst;
        }
      }

      .choose-platform {
        & > div {
          &:hover {
            svg {
              fill: $colorFirst;
            }
          }

          &.active {
            svg {
              opacity: 1;
              fill: $colorFirst;
            }
          }
        }
      }
    }

    .site-cookie {
      background-color: $backgroundColorFirst;
      box-shadow: inset 2px 2px 20px #00000059, 3px 3px 0px 0px $colorFirst;
      border: 1px $colorFirst solid;

      &-block {
        button {
          border-color: $colorFirst;

          &:hover {
            background: $colorFirst;
          }
        }
      }
    }

    .leaderboard-block {
      &_list {
        &-items {
          &::-webkit-scrollbar-track {
            background: $backgroundColorFirst;
          }
          &::-webkit-scrollbar-thumb {
            background: $colorFirst;
          }

          &_player {
            > div {
              span:first-child {
                background: $colorFirst;
              }
            }
          }
        }
      }

      &_platform {
        &-item {
          border: 1px $colorFirst solid;

          &:hover {
            background: $colorFirst;
            color: $backgroundColorFirst;
          }
        }
      }

      &_mods {
        &-item {
          border: 1px $colorFirst solid;
          &:hover,
          &.active {
            font-weight: 400;
            background: $colorFirst;
            color: $backgroundColorFirst;
          }
        }
      }
    }
    .footer {
      border-top: 1px solid $colorFirst;

      .copyright {
        color: $colorSecond;

        a {
          color: $colorSecond;
        }
      }

      &-menu {
        .ant-menu-light {
          .ant-menu-item {
            &.ant-menu-item-selected {
              a {
                color: $colorFirst;
                box-shadow: inset 0px 0px 2px $colorFirst;
              }
            }
          }
        }

        a {
          &:hover {
            color: $colorFirst;
            box-shadow: inset 0px 0px 2px $colorFirst;
          }
        }
      }
      &-text {
        b {
          color: $colorSecond;
        }
      }
    }

    .radiostyle {
      .ant-radio-button-wrapper {
        border-color: $colorFirst;

        .ant-radio-button-checked {
          background: $colorFirst;
          border-color: $colorFirst;
          span {
            border-color: $colorFirst;
          }
        }
      }
    }

    .mainpage {
      &_left {
        input {
          border: 1px $colorFirst solid;
          box-shadow: inset 2px 2px 20px #00000059, 3px 2px 0px 0px $colorFirst;
        }
        &__text {
          span {
            color: $colorSecond;
          }
        }
        &__stats {
          .anticon {
            color: $colorFirst;
          }

          &___seasonend,
          &___playeronline {
            > div {
              color: $colorSecond;

              span {
                span {
                  color: $colorFirst;
                }
              }
            }
          }
        }
      }
    }

    .rankrow {
      &_rating {
        span:nth-child(2) i {
          color: $colorFirst;
        }
      }
    }

    .about {
      color: $colorSecond;
    }

    .navbar {
      border-bottom: 1px solid $colorFirst;

      &_logo {
        span {
          color: $colorFirst;
        }
      }

      .ant-menu-light {
        .ant-menu-title-content {
          .ant-badge-count {
            background: $colorFirst;
            color: $backgroundColorFirst;
          }
        }

        .ant-menu-item {
          &:hover {
            svg {
              color: $colorFirst;
            }
          }

          &:hover::after {
            border-bottom: 4px solid $colorFirst;
          }
        }

        .ant-menu-item-selected {
          &::after {
            border-bottom: 4px solid $colorFirst;
          }

          svg {
            color: $colorFirst;
          }
        }
      }
    }
  }
}

@include styleCreator("green", #77f6a7, #65656d, #222222);
@include styleCreator("blue", #00d8d3, #65656d, #0b0b0b);
@include styleCreator("orange", #ffbe29, #65656d, #0b0b0b);
@include styleCreator("brown", #f8ccaf, #65656d, #0b0b0b);
@include styleCreator("red", #f73b5d, #65656d, #161920);
