@import "~antd/dist/antd.css";

@font-face {
  font-family: "Avenir Next LT Pro Bold";
  src: url("./fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Muller Bold";
  src: url("./fonts/Muller-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Muller Regular";
  src: url("./fonts/Muller-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("./fonts/Bebas-Neue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/Roboto-Slab.ttf") format("truetype");
}

//$backgroundColorFirst: #0b0b0b;
// $colorFirst: #00d8d3;
// $colorFirst: #ffbe29;
// $colorFirst: #f8ccaf;

$backgroundColorFirst: #222222;
$colorFirst: #77f6a7;

// $backgroundColorFirst: #161920;
// $colorFirst: #f73b5d;

// $colorFirst: #ffbe29;
$colorSecond: #4f5058;

//$backgroundColorFirst: #161920;
// $colorFirst: #f73b5d;

//$backgroundColorFirst: #0c0d16;
//$colorFirst: #fde82b;
.dropdown-lang-active {
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
  box-shadow: inset 2px 2px 20px #00000059;
}

body {
  background: $backgroundColorFirst;
  background: url("./img/background.jpg") no-repeat center center fixed;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: $backgroundColorFirst;
  }
  &::-webkit-scrollbar-thumb {
    background: $colorFirst;
  }
}

.app.night {
  max-width: 1200px;
  margin: auto;

  .roadmap {
    max-width: 600px;
    margin: auto;
    .ant-steps-vertical.ant-steps-dot .ant-steps-item-icon {
      margin-top: 14px;
    }
    .ant-steps-vertical.ant-steps-dot
      .ant-steps-item
      > .ant-steps-item-container
      > .ant-steps-item-tail {
      top: 8px;
    }
    .ant-steps-item-finish
      .ant-steps-item-icon
      > .ant-steps-icon
      .ant-steps-icon-dot,
    .ant-steps-item-finish
      > .ant-steps-item-container
      > .ant-steps-item-tail::after,
    .ant-steps-item-process
      .ant-steps-item-icon
      > .ant-steps-icon
      .ant-steps-icon-dot {
      background: $colorFirst;
    }
    .ant-steps-item-wait
      .ant-steps-item-icon
      > .ant-steps-icon
      .ant-steps-icon-dot {
      background: rgba(255, 255, 255, 0.25);
    }

    .ant-steps-item-finish
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-title,
    .ant-steps-item-process
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-title {
      color: $colorFirst;
      font-weight: 700;
    }
    .ant-steps-item-process
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-description,
    .ant-steps-item-finish
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-description {
      color: #fff;
    }
    .ant-steps-item-wait
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-title {
      color: $colorSecond;
      font-weight: 700;
    }
    .ant-steps-item-wait
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-description {
      color: $colorSecond;
    }
  }

  .title-a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    font-style: italic;
    margin: 20px 0;

    &.border {
      border-bottom: 1px $colorFirst solid;
      padding-bottom: 15px;
      display: inline-block;
      font-style: normal;
      letter-spacing: 0.6px;
    }
  }
  .title-b {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    font-style: italic;
    margin-top: 25px;
    padding-bottom: 10px;
  }

  .title-c {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    margin: 25px 0 15px 0;
  }

  .obspage {
    display: flex;
    align-items: flex-start;
    padding-top: 40px;
  }
  .nightbot {
    color: #fff;
    .ant-checkbox-wrapper {
      color: #fff;
    }
    .ant-select-selector {
      margin: 0;
      background: transparent;
      border: 1px $colorFirst solid;
      text-align: left;
      color: #fff;
      border-radius: 10px;
      border: 0;
      height: 45px;
      box-shadow: inset 3px 3px 20px #00000059, 1px 1px 0px 0px $colorFirst;

      .ant-select-selection-item {
        display: flex;
        align-items: center;
      }
    }

    .ant-select-arrow {
      color: $colorFirst;
    }
    input {
      margin: 0;
      background: transparent;
      border: 0;
      text-align: left;
      color: #fff;
      border-radius: 10px;
      height: 45px;
      box-shadow: inset 3px 3px 20px #00000059, 1px 1px 0px 0px #444444;
    }

    .playlist-checkbox {
      .ant-col.ant-col-24 {
        margin: 0 -15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .ant-checkbox-wrapper {
          margin: 0 15px;
          width: 150px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
    }
    .ant-checkbox {
      top: 0;
      &-inner {
        width: 22px;
        border-color: $colorFirst;
        background: transparent;
        height: 22px;
        &::after {
          left: 29%;
          border-color: $colorFirst;
        }
      }
    }
  }

  .playerpage {
    padding-top: 3px;
    position: relative;

    &-buttons {
      right: 0;
      top: 15px;
      display: flex;
      margin: 0 -5px;
      position: absolute;
      z-index: 1;
      button {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.2);
        box-shadow: inset 2px 2px 20px #00000059;
        padding: 10px 15px;
        margin: 0 5px;
        text-align: center;
        display: flex;
        height: 28px;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        letter-spacing: 1px;
        color: #fff;
        font-family: "Bebas Neue Regular";
        transition: 0.3s all;

        &.ant-btn::before {
          background: transparent;
        }

        &:hover,
        &.ant-btn-loading {
          cursor: pointer;
          background: transparent;
          box-shadow: inset 0px 0px 2px $colorFirst;
        }
      }
    }

    .third-row {
      &__left {
        padding-right: 20px;
        &__title {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 18px;
          color: #fff;
          letter-spacing: 1px;
          font-style: italic;
          margin: 20px 0;
          padding-bottom: 15px;
          border-bottom: 1px $colorFirst solid;
        }
        &__block {
          min-height: 160px;

          &.ratingprogressiongraphs {
            margin: 0;
            border-radius: 10px;
            box-shadow: inset 2px 2px 20px #00000059;
            .apexcharts-canvas {
              margin: 0;
            }
          }
          &.piesavesshots {
            margin: 0;
            border-radius: 10px;
            box-shadow: inset 2px 2px 20px #00000059;
            padding: 15px 0;
            display: flex;
            .apexcharts-canvas {
              margin: auto;
            }
          }
        }
      }
      &__right {
        &__title {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 18px;
          color: #fff;
          letter-spacing: 1px;
          font-style: italic;
          margin: 20px 0;
          padding-bottom: 15px;
          border-bottom: 1px $colorFirst solid;
        }

        &__rank {
        }
      }
    }
    .first-row {
      justify-content: space-between;
      margin: 20px 0;
      &__left {
        display: flex;
        &___avatar {
          height: 90px;
          margin-top: 8px;
          box-shadow: 0px 0px 3px #fff;
          border-radius: 15px;
        }

        &___profile {
          display: flex;
          margin-left: 15px;
          flex-direction: column;
          width: 100%;
          padding-right: 60px;
          justify-content: flex-end;
          &___nickname {
            color: #fff;
            font-size: 26px;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 4px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 260px;
          }
          &___reward {
            &____rankimg {
              height: 62px;
              position: absolute;
              right: 0;
              top: -36px;
            }
            .ant-progress-steps {
              display: inline-flex;
              width: 100%;
              flex-wrap: nowrap;
              .ant-progress-text {
                display: none;
              }
              .ant-progress-steps-outer {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;

                .ant-progress-steps-item {
                  width: 30px !important;
                  height: 6px !important;
                  border-radius: 10px;
                  opacity: 0.6;
                  &-active {
                    opacity: 1;
                    box-shadow: 0px 0px 3px $colorFirst;
                    background: $colorFirst;
                  }
                }
              }
            }

            &____title {
              text-transform: uppercase;
              font-weight: 500;
              font-size: 15px;
              color: #fff;
              letter-spacing: 1px;
              position: relative;
            }
            &____label {
              display: flex;
              justify-content: space-between;
              color: #9697b0;
              font-style: normal;
              font-weight: 300;
              font-size: 13px;
              opacity: 0.6;
            }
          }
        }
      }
      &__right {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        > div {
          display: flex;
          flex-direction: column;
          text-align: center;
          font-size: 19px;
          font-weight: 700;
          color: #fff;
          & > span {
            line-height: 1;
            letter-spacing: 2px;
            font-family: "Bebas Neue Regular";
            font-size: 18px;
            color: #9697b0;
            font-weight: 700;
          }
          & > div {
            font-family: "Bebas Neue Regular";
            font-size: 21px;
            color: #ffffff;
            font-weight: 300;
            letter-spacing: 1.5px;
          }
          i {
            color: $colorFirst;
            font-size: 11px;
            font-style: normal;
            font-weight: 300;
            opacity: 0.6;
            font-weight: 700;
            text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
              0px -5px 35px rgba(255, 255, 255, 0.7);
          }
        }
      }
    }
    .second-row {
      justify-content: space-between;
      margin: 20px 0;
      &__block {
        //   background: #222222;
        // box-shadow: inset 2px 2px 20px #1f1f1f, 3px 3px 0px 0px #fde82b;
        // box-shadow: 3px 3px 3px 1px $colorFirst;
        box-shadow: inset 2px 2px 20px #00000059, 3px 3px 0px 0px $colorFirst;
        height: 80px;
        border-radius: 10px;
        color: #9697b0;
        font-size: 20px;
        padding: 13px 15px;
        display: flex;
        flex-direction: column;
        line-height: 1.3;
        letter-spacing: 0.6px;
        font-family: "Bebas Neue Regular";
        span {
          color: #fff;
          font-size: 22px;
          font-weight: 700;
          letter-spacing: 1.6px;
        }
      }
    }
  }
  .navbarsecond {
    display: flex;
    justify-content: center;
    padding: 30px;

    div {
      margin: 0 34px;
      padding: 0 10px;
      color: #fff;
      font-size: 16px;
      font-weight: 700;

      span {
        margin: 0 9px;
      }
    }
  }
  .titlehistory {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff6b;
    letter-spacing: 1px;
    font-style: normal;
    margin: 20px 0 0px 0;
    text-align: center;
  }

  .leaderboardspage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .historycheck {
    color: #fff;

    &_block {
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      margin: 13px auto;
      box-shadow: inset 2px 2px 20px #00000059;
      color: #9697b0;
      font-size: 12px;
      padding: 8px 12px;
      display: flex;
      align-items: center;
      max-width: 290px;
      transition: 0.3s all;
      position: relative;
      // border: 1px transparent solid;

      &:hover {
        opacity: 1 !important;
        cursor: pointer;
        box-shadow: inset 5px 5px 40px #00000057, 0px 2px 0px 0px $colorFirst;
        .historycheck_block-platform {
          opacity: 1 !important;
        }

        img {
          filter: none;
        }

        // border: 1px $colorFirst solid;
      }
      &:first-child {
        opacity: 0.9;
      }
      &:nth-child(2) {
        opacity: 0.8;
      }
      &:nth-child(3) {
        opacity: 0.6;
      }
      &:nth-child(4) {
        opacity: 0.4;
      }
      &:nth-child(5) {
        opacity: 0.2;
      }

      &-left {
        display: flex;
        align-items: center;
        img {
          height: 32px;
          border-radius: 7px;
          box-shadow: 0px 0px 3px #fff;
          filter: grayscale(0.85);
        }
        .nickname {
          display: flex;
          flex-direction: column;
          font-size: 15px;
          font-weight: 400;
          line-height: 1.2;
          color: #fff;
          margin: 0 10px 0 12px;
          span {
            font-size: 13px;
            font-weight: 400;
            color: #fff;
            opacity: 0.3;
          }
        }
      }
      &-platform {
        display: flex;
        align-items: center;
        width: 20px;
        position: absolute;
        right: 80px;
        opacity: 0.5;
        svg {
          fill: #fff;
          opacity: 0.4;
        }
      }

      &-mmr {
        text-align: right;
        display: flex;
        flex-direction: column;
        font-weight: 500;
        line-height: 1;
        span {
          font-size: 15px;
          color: #fff;
          margin-top: 4px;
          display: inline-block;
        }
      }
    }
  }

  .chooser {
    margin-bottom: 30px;
    position: relative;

    input {
      padding-left: 193px;
    }
    .choose-platform {
      display: flex;
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 1;

      & > div {
        display: flex;
        padding: 14px 8px;
        align-items: center;

        &:first-child {
          padding-left: 15px;
        }
        &:hover {
          cursor: pointer;
          opacity: 1;

          svg {
            opacity: 1;
            fill: $colorFirst;
          }
        }
        svg {
          z-index: 1;
          height: 20px;
          transition: 0.3s all;
          fill: #fff;
          opacity: 0.3;
        }

        &.active {
          svg {
            opacity: 1;
            fill: $colorFirst;
          }
        }
      }
    }
  }

  .site-cookie {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    transition-delay: 1s;
    font-weight: 400;
    position: fixed;
    bottom: 40px;
    left: 25px;
    z-index: 40;
    border-radius: 15px;
    transition: bottom 0.3s ease-in-out;
    background-color: $backgroundColorFirst;
    box-shadow: inset 2px 2px 20px #00000059, 3px 3px 0px 0px $colorFirst;
    border: 1px $colorFirst solid;
    color: #9697b0;
    font-size: 14px;
    padding: 15px;

    &-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      flex-direction: column;
      button {
        margin-top: 10px;
        display: block;
        background: transparent;
        border-color: $colorFirst;

        &:hover {
          color: #000;
          background: $colorFirst;
        }
      }
    }
  }

  .leaderboard-block {
    &_list {
      padding: 10px 5px;
      margin: 0 auto;
      border-radius: 6px;
      color: #fff;
      max-width: 440px;
      &-label {
        &_names {
          font-size: 20px;
          letter-spacing: 0.5px;
          color: #fff;
          font-family: "Bebas Neue Regular";
          display: flex;
          justify-content: space-between;
          box-shadow: inset 2px 2px 20px #00000059;
          border-radius: 15px;
          margin: 6px -5px;
          padding: 8px 10px;

          span:first-child {
            width: 40px;
            text-align: left;
            padding-left: 3px;
          }

          span:nth-child(3) {
            padding: 0 17px;
          }
        }
      }

      &-items {
        display: flex;
        flex-direction: column;
        padding-right: 15px;
        height: 500px;
        overflow-y: scroll;
        box-shadow: inset 2px 2px 20px #00000059;
        margin: 12px 0;
        padding: 4px 4px;

        &::-webkit-scrollbar {
          width: 5px;
        }
        &::-webkit-scrollbar-track {
          background: $backgroundColorFirst;
        }
        &::-webkit-scrollbar-thumb {
          background: $colorFirst;
        }

        &_player {
          display: flex;
          justify-content: space-between;
          padding: 8px 0;
          align-items: center;
          & > span {
            padding-right: 13px;

            font-family: "Avenir Next LT Pro Bold";
          }

          & > div {
            display: flex;
            align-items: center;

            span {
              display: flex;
              align-items: center;
            }
          }

          img {
            height: 28px;
            border-radius: 4px;
            margin: 0 10px;
          }

          > div {
            span:first-child {
              justify-content: center;
              align-items: center;
              width: 26px;
              display: flex;
              text-align: center;
              font-family: "Bebas Neue Regular";
              letter-spacing: 1px;
              font-weight: 700;
              font-size: 13px;
              margin: 0 9px;
              background: $colorFirst;
              color: #000;
              border-radius: 2px;
              height: 20px;
            }
            span:nth-child(3) {
              margin-left: 5px;
              color: #fff;
              font-size: 17px;
            }
          }
        }
      }
    }

    &_platform {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 15px 0;

      &-item {
        border: 1px $colorFirst solid;
        box-shadow: inset 2px 2px 20px #00000059;

        border-radius: 15px;
        /* height: 45px; */
        padding: 8px 5px;
        margin: 0 9px;
        width: 80px;
        height: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        letter-spacing: 1px;
        color: #fff;
        font-family: "Bebas Neue Regular";
        transition: 0.3s all;

        &:hover {
          font-weight: 700;
          cursor: pointer;
          background: $colorFirst;
          color: $backgroundColorFirst;
        }
      }
    }

    &_mods {
      margin: 15px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &-item {
        border: 1px $colorFirst solid;
        box-shadow: inset 2px 2px 20px #00000059;

        border-radius: 15px;
        /* height: 45px; */
        padding: 8px 5px;
        margin: 0 9px;
        width: 80px;
        height: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        letter-spacing: 1px;
        color: #fff;
        font-family: "Bebas Neue Regular";
        transition: 0.3s all;

        &:hover {
          font-weight: 700;
          cursor: pointer;
          background: $colorFirst;
          color: $backgroundColorFirst;
        }
      }
    }
  }
  .footer {
    border-top: 1px solid $colorFirst;
    padding-top: 5px;
    color: #ffffff;
    font-size: 15px;
    margin: 30px 0;
    flex-wrap: wrap;
    padding-bottom: 25px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;

    .copyright {
      display: flex;
      color: $colorSecond;
      margin-top: 5px;
      a {
        color: $colorSecond;
        margin: 0 5px;
        svg {
          margin-right: 3px;
        }
      }
    }

    &-menu {
      margin: 0 -10px;
      .ant-menu-light {
        background: transparent;
        line-height: 1.5;
        box-shadow: unset;
        border: 0 !important;

        .ant-menu-horizontal > .ant-menu-item::after,
        .ant-menu-horizontal > .ant-menu-submenu::after {
          display: none !important;
          border-bottom: 0 !important;
        }
        .ant-menu-item {
          width: 99px;
          height: 77px;
          &:after {
            display: none;
          }

          &.ant-menu-item-selected {
            a {
              color: $colorFirst;
              box-shadow: inset 0px 0px 2px $colorFirst;
            }
          }
        }
      }
      width: 33%;
      display: flex;
      text-align: center;
      justify-content: center;
      justify-content: space-between;
      font-size: 13px;

      a {
        border-radius: 10px;
        /* height: 45px; */
        box-shadow: inset 2px 2px 20px #00000059;

        padding: 8px 5px;
        margin: 0;
        width: 70px;
        height: 77px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        letter-spacing: 1px;
        color: #fff;
        font-family: "Bebas Neue Regular";
        transition: 0.3s all;

        &:hover,
        &:focus {
          color: $colorFirst;
          box-shadow: inset 0px 0px 2px $colorFirst;
        }
        svg {
          font-size: 18px;
          margin-bottom: 9px;
        }
      }
    }
    &-text {
      width: 63%;
      margin: 0;
      font-size: 14px;

      b {
        font-weight: 400;
        color: $colorSecond;
      }
    }
  }

  .radiostyle {
    .ant-radio-button-wrapper {
      background: transparent;
      color: #ffffff;
      border-radius: 10px;
      border-bottom: 0;
      border-color: $colorFirst;

      &-checked {
        color: #222222;
      }
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
        background-color: transparent;
      }

      .ant-radio-button-checked {
        background: $colorFirst;
        border-color: $colorFirst;
        span {
          border-color: $colorFirst;
          color: #222;
        }
      }
    }
  }
  .content {
    min-height: 70vh;
  }
  .mainpage {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;

    .ant-row {
      width: 100%;
    }
    &_left {
      max-width: 600px;
      margin: auto;
      input {
        margin: 0;
        background: transparent;
        border: 1px $colorFirst solid;
        text-align: left;
        color: #fff;
        border-radius: 10px;
        height: 45px;
        box-shadow: inset 2px 2px 20px #00000059, 3px 2px 0px 0px $colorFirst;
      }
      &__text {
        color: #fff;
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        margin-bottom: 35px;
        text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
          0px -5px 35px rgba(255, 255, 255, 0.3);
        span {
          display: block;
          color: $colorSecond;
          font-size: 19px;
          text-transform: none;
          font-weight: 400;
          line-height: 0.6;
          margin-bottom: 24px;
        }
      }
      &__stats {
        color: #fff;
        display: flex;
        justify-content: center;

        .anticon {
          font-size: 32px;
          margin-right: 17px;
          color: $colorFirst;
        }
        &___seasonend {
          margin-right: 40px;
        }
        &___seasonend,
        &___playeronline {
          font-size: 30px;
          display: flex;
          align-items: center;
          font-size: 18px;

          > div {
            display: flex;
            flex-direction: column;
            line-height: 1.25;
            color: $colorSecond;
            font-size: 14px;

            span {
              font-size: 16px;
              color: #fff;

              span {
                font-size: 17px;
                color: $colorFirst;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }

  .rankrow {
    border-radius: 10px;
    margin: 12px 0;
    //  background: #222222;
    box-shadow: inset 2px 2px 20px #00000059;
    color: #9697b0;
    font-size: 12px;
    padding: 8px 15px;
    display: flex;
    align-items: center;

    &_rankimg {
      width: 40px;
      margin-right: 2%;
      height: auto;
    }

    &_name {
      margin-right: 2%;
      width: 30%;
      display: flex;
      flex-direction: column;
      margin-left: 10px;

      span:first-child {
        font-weight: 700;
        color: #fff;
        font-size: 15px;
        line-height: 1;
      }
      span:nth-child(2) {
        font-weight: 300;
        font-size: 13px;
        margin: 2px 0;
        line-height: 1;
      }
      span:nth-child(3) {
        font-size: 12px;
        font-weight: 300;
      }
    }
    &_rating {
      margin-right: 2%;
      width: 18%;
      display: flex;
      flex-direction: column;

      span:first-child {
        color: #fff;
        font-weight: 700;
        font-size: 14px;

        i {
          color: #9697b0;
          font-weight: 400;
          font-style: normal;
          font-size: 11px;
        }
      }

      span:nth-child(2) i {
        color: $colorFirst;
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        opacity: 0.6;
      }
    }
    &_divchange {
      width: 23%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span:nth-child(2) {
        color: #fff;
      }
    }
    &_matches {
      width: 15%;
      display: flex;
      flex-direction: column;
      text-align: center;
      span:first-child {
        font-weight: 700;
        color: #fff;
      }
      .WinStreak {
        color: green;
      }

      .LoseStreak {
        color: red;
      }
    }
  }

  .about {
    color: $colorSecond;
    font-size: 17px;
    line-height: 1.5;
    margin: 35px 0;
  }

  .navbar {
    border-bottom: 1px solid $colorFirst;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;

    .right-menu {
      margin-right: 60px !important;
    }

    &_logo {
      color: #ffffffd9;
      line-height: 1;
      font-size: 32px;
      text-align: center;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px 15px;
      border-radius: 6px;
      white-space: nowrap;
      text-transform: uppercase;
      margin: 0 15px;
      font-family: "Avenir Next LT Pro Bold";
      letter-spacing: 1px;
      transition: 0.3s all;
      span {
        color: $colorFirst;
      }

      &:hover,
      &:focus {
        cursor: pointer;
      }
    }
    &_lang {
      position: absolute;
      right: 35px;
      span {
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .ant-menu-light {
      background: transparent;
      border-bottom: 0;
      padding: 30px 20px;
      margin: 0px -10px;
      .ant-menu-title-content {
        position: relative;

        .ant-badge-count {
          background: $colorFirst;
          color: $backgroundColorFirst;
          position: absolute;
          right: -9px;
          padding: 0;
          top: -5px;
          box-shadow: none;
          font-size: 9px;
          height: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        a {
          color: #4f5058;
          font-weight: 500;
        }
      }

      .ant-menu-item {
        transition: 0.3s all;
        svg {
          transition: 0.3s all;
          color: #4f5058;
          font-size: 15px;
        }
        &:hover {
          .ant-menu-title-content a {
            color: #fff;
          }

          svg {
            color: $colorFirst;
            opacity: 1;
          }
        }

        &::after {
          content: "";
          border-bottom: 4px solid transparent;
          width: 0px;
          transition: 0.3s all;
          border-radius: 15px;
        }
        &:hover::after {
          border-bottom: 4px solid $colorFirst;
          width: 16px;
        }
      }

      .ant-menu-item-selected {
        &::after {
          border-bottom: 4px solid $colorFirst;
          width: 16px;
        }

        svg {
          color: $colorFirst;
          opacity: 1;
        }

        .ant-menu-title-content {
          a {
            color: #fff;
          }
        }
      }
    }
  }
}
